^XA\n^CI28\n^PW416\n^LL240\n^FWN\n^PON\n^PR2,2,2\n^MD0\n\n^LH0,0\n^FO16,12 ^A0N,30,30 ^FB368,2,0,C,0 ^FD{{ item_name }}^FS\n^FO16,72 ^A0N,26,26 ^FB368,1,0,C,0 ^FD{{ item_code }}^FS\n^FO90,108 ^BY2,2,96 ^BCN,96,N,N,N ^FD{{ item_code }}^FS\n^FO16,214 ^A0N,22,22 ^FB368,1,0,C,0 ^FD{{ fecha }}^FS\n\n^PQ{{ copies }}\n^XZ\n
